#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
#bookIcon{
  height: 50px;
  transition: 0.1s ease-in-out ;
}
#bookIcon:hover{
  height: 54px;
  /* box-shadow: 0 0 20px 10px rgb(245, 44, 44); */
  filter: drop-shadow(0 0 0.15em #ffd500);
} 